services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - database
    environment:
      GH_TOKEN: ${GH_TOKEN}
      API_TOKEN_SALT: ${STRAPI_TOKEN}
      HOST: ${STRAPI_HOST}
      PORT: ${STRAPI_PORT}
      DATABASE_CLIENT: postgres
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_NAME: ${DATABASE_NAME}
      DB_HOST: ${DATABASE_HOST}
      DB_USER: ${DATABASE_USER}
      DB_PASSWORD: ${DATABASE_PASSWORD}
      DB_DB: ${DATABASE_NAME}
      STRAPI_TOKEN: ${STRAPI_TOKEN}
    env_file:
      - path: ./.env
        required: true
    volumes:
      - ../:/workspace
      # Mount the setup.sh script to the container
      - ./setup.sh:/root/setup.sh
    ports:
      - 1337:1337
      - 3000:3000
    networks:
      - default
    command: ["sleep", "infinity"]

  database:
    image: postgres:17.6
    restart: always
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      - default

volumes:
  postgres-data:

networks:
  default:
    name: devcontainer
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: devcontainer
